<div class="validation-container">
    
    
    <h2>Validacion de cedula</h2>
    
        <p>1. Evita contraluces, lugares oscuros y asegurate de enfocar correctamente tu cedula</p>
        <p>2. Asegurate que las fotos de la cedula sean legibles</p>
        <p>3. Se te solicitará tomar la foto de ambos lados de tu cédula</p>
    <div>
        <img src="assets/imagenes/cedula-03.png" alt="Ejemplo de cedula" class="validation-image">
    </div>
    <button routerLink="/welcome" class="btn-regresar">Regresar</button>
    <button class="btn-entendido" routerLink="/photo-capture">Entendido</button>
</div>
